.page_wrapper {
  margin-top: 4rem;
  width: 100vw;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;

  .container {
    .home_content {
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 20px 12%;

      min-height: 86vh;

      .blog_title {
        .title {
          line-height: 1.3;

          h3 {
            font-size: 2.5rem;
            font-weight: 500;
          }

          p {
            width: 80%;
            padding-top: 0.5rem;
            font-size: 1.4rem;
            font-weight: 300;
          }
        }

        .btn {
          margin-top: 1.5rem;
          padding: 1rem 2rem;
          background-color: #4209ed;
          border: none;
          color: #fff;
          font-family: sans-serif;
          font-size: 1.1rem;
          font-weight: 400;
          border-radius: 9px;

          span {
            padding-left: 0.4rem;
          }

          &:hover {
            span {
              padding-left: 0.6rem;
            }
          }
        }
      }

      .blog_img {
        width: 700px;
        padding: 30px 0;
        overflow: hidden;
        border-radius: 50%;
        border: 6px solid #4209ed;

        img {
          width: 100%;
          transform: scale(1.6);
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .page_wrapper {
    width: 100vw;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;

    .container {
      .home_content {
        flex-direction: column-reverse;
        .blog_title {
          .title {
            h3 {
              font-size: 2rem;
            }
            p {
              font-size: 1rem;
            }
          }
        }
        .blog_img {
          width: 270px;
        }
      }
    }
  }
}
@media (max-width: 535px) {
  .page_wrapper {
    margin-top: 6rem;
    .container {
      .home_content {
        .blog_title {
          .title {
            h3 {
              font-size: 1.8rem;
            }
            p {
              font-size: 1rem;
            }
          }
        }
        .blog_img {
          width: 200px;
        }
      }
    }
  }
}