footer {
  .footer_cont {
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
      h1{
        color: rgb(0, 0, 0);
        font-size: 1.1rem;
        font-weight: 500;
      }
  }
}
