footer {
  .footer_cont {
    background-color: black;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
      h1{
        color: rgb(255, 255, 255);
        font-size: 1.1rem;
        font-weight: 500;
      }
  }
}