.page_wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  transition: 0s;

  &.active {
    transition: 0s;
    background-color: rgb(255, 255, 255);
  }

  .container {
    .home_content {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(0, 0, 0);
      transition: 0.3s ease;

      min-height: 140vh;

      &.active {
        transition: 0.3s;
        background-color: #fff;
      }
      .gif_image {
        margin-right: 50px;
        border-radius: 13px;
        min-width: 550px;
        height: 35rem;
        background-image: url("../../../../contacts.jpg");
        background-position: -400px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: 0.3s;

        &.active {
          background-position: -10px;
          background-image: url(https://wallpapers.com/images/hd/grand-blue-derp-face-x0co2as3x6ioif88.jpg);
        }

        .h1 {
          background: #6d2aff;
          background-clip: border-box;
          font-size: 28px;
          -webkit-background-clip: text;
          display: none;
          background-clip: text;
          -webkit-text-fill-color: rgba(0, 0, 0, 0);
        }
      }

      .form {
        display: flex;
        justify-content: center;
        flex-direction: column;

        min-width: 500px;
        max-width: 2000px;

        padding: 0rem;
        background-color: #000000;
        border-radius: 13px;

        gap: 3rem;
        transition: 0.3s ease;

        &.active {
          transition: 0.3s;
          background-color: #fff;
        }

        .label {
          color: rgb(255, 255, 255);
          width: 100%;
          margin-bottom: 13px;
          font-weight: 100;
          font-family: sans-serif;
          font-size: 14px;

          &.active {
            color: black;
          }
          .input,
          .message {
            border-radius: 9px;
            width: 100%;
            border: none;

            padding: 1rem 1.5rem;
            background-color: #ffffff08;
            color: rgb(255, 255, 255);
            border: 1px solid rgb(189, 189, 189);

            &.active {
              color: black;
            }

            &:focus {
              outline: 1px solid rgb(4, 50, 255);
            }
          }
        }
        .message {
          max-width: 100%;
          min-width: 100%;
          font-family: "Rubik", sans-serif;
          min-height: 174px;
          max-height: 300px;
          padding: 1rem;
          resize: none;
        }
        .button {
          cursor: pointer;
          font-size: 16px;
          font-weight: 600;
          padding: 1rem;
          border: none;
          background: #6d2aff;
          color: white;
          border-radius: 13px;
          transition: 0.3s;

          &:hover {
            background: #3e1891;
          }
        }
      }
    }
  }
}
@media (max-width: 1285px) {
  .page_wrapper {
    .container {
      .home_content {
        display: flex;
        flex-direction: column;
        padding: 8rem 3rem;
        .gif_image {
          background-position: center;
          display: flex;
          margin-right: 0;
          margin-bottom: 20px;
          border-radius: 13px;
          min-width: 340px;
          height: 10rem;
          &.active {
            background-position: center;
          }
        }
        .form {
          min-width: 400px;
          padding: 2rem;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .page_wrapper {
    .container {
      .home_content {
        background-color: rgb(255, 255, 255);
        &.active {
          background-color: none;
        }

        .form {
          background-color: #fff;
          &.active {
            background-color: #fff;
          }
          .label {
            color: rgb(0, 0, 0);
            &.active {
              color: black;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .page_wrapper {
    background-color: white;
    .container {
      .home_content {
        padding: 8rem 3rem;
        .gif_image {
          border-radius: 4px;
          border: none;
          background-position: -10px;
          border-radius: 10px;
          background-image: url("https://wallpapers.com/images/hd/grand-blue-derp-face-x0co2as3x6ioif88.jpg");
          &.active {
            background-position: -50px;
            background-image: url("https://wallpapers.com/images/hd/grand-blue-derp-face-x0co2as3x6ioif88.jpg");
          }
          min-width: 280px;
          height: 0;
          padding: 6rem 3.5rem;
          .h1 {
            font-size: 20px;
          }
        }
        .form {
          min-width: 350px;
        }
      }
    }
  }
}
.modal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  padding: 20px;
  background: #6d2aff;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.modalOverlay {
  background-color: transparent;
}
