.page_wrapper {
  width: 100vw;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;

  .container {
    .home_content {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: start;
      justify-content: center;
      background-color: rgb(255, 255, 255);
      
      min-height: 45vh;

      padding: 5rem 7rem;

      .home_input_text {
        width: 300px;
        padding: 10rem 3rem 10rem;
        display: flex;
        background-color: black;
        flex-direction: column;
        input {
          margin: 10px;
        }

        input:nth-child(1) {
          background-color: red;
        }
      }
    }
  }
}
