@import url(https://fonts.googleapis.com/css?family=Rubik:200,300,400,500,600,700,800,900);

.beta {
  margin-bottom: 3rem;
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  padding: 0px 10%;

  background-color: rgb(255, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000000;

  h1 {
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 100;
  }
}


.header {
  margin-bottom: 3rem;
  position: fixed;
  left: 0;
  top: 1.1rem;

  width: 100%;
  padding: 20px 10%;

  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000000;
  transition: 0.3s;

  &.active {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.57);
    backdrop-filter: blur(15px);
    transition: 0.3s;
    padding: 20px 1% 20px 1%;
    border-bottom: solid 2px blue;
  }
  

  .logo {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 25px;
    padding: 5px 10px;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;

    &:hover {
      background-color: rgb(236, 236, 236);
      border-radius: 7px;
    }

    span {
      color: blue;
    }
  }

  .header_wrap {
    display: flex;
    .gitlink {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      margin-left: 20px;
      background-color: #4d01ff;
      color: rgb(255, 255, 255);
      border-radius: 5px;
      padding: 10px 10px;
      transition: 0.2s;
      font-weight: 400;
      font-family: 'Rubik', sans-serif;

      &:hover {
        width: 5rem;
        background-color: rgb(255, 255, 255);
        border: solid 1px blue;
        color: blue;
      }
    }
    .link {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 5rem;
      padding: 10px 15px;
      margin-left: 10px;
      color: rgb(0, 0, 0);
      border-radius: 5px;
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      transition: 0.3s;

      &:hover {
        background-color: rgba(209, 209, 209, 0.221);
        color:#4d01ff;
      }
    }
    .resume {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 5rem;
      padding: 10px 15px;
      background-color: #4d01ff;

      border-radius: 5px;
      font-family: "Rubik", sans-serif;
      font-weight: 300;
      color: white;
      margin-left: 50px;
      transition: 0.5s;

      &:hover {
        background-color: rgb(3, 3, 96);
      }
    }
    .burger_menu {
      display: none;
    }
  }
}
@media (max-width: 1015px) {
  .header {
    padding: 20px 14%;
    &.active {
      padding: 20px 7% 20px 7%;
      li {
        display: none;
      }
    }
    .header_wrap {
      .gitlink {
        display: none;
      }
      .link {
        display: none;
      }
      .resume {
        display: none;
      }
      .burger_menu {
        display: block;
        width: 40px;
        height: 30px;

        span {
          display: block;
          width: 40px;
          height: 7px;
          margin: 6px auto;
          background-color: #4d01ff;
          border-radius: 12px;
          transition: 0.2s;

          &:last-child {
            width: 30px;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .header {
    margin-bottom: 3rem;
    position: fixed;
    left: 0;
    top: 1.1rem;
  
    width: 100%;
    padding: 20px 10%;
  
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: none;
  
    &.active {
      width: 100%;
      background-color: rgb(255, 255, 255);
      backdrop-filter: none;
      padding: 20px 10%;
      border-bottom: none;
    }
  }
}