@import url(https://fonts.googleapis.com/css?family=Rubik:200,300,400,500,600,700,800,900);

.header {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  padding: 1.4rem 8%;

  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000000;
  transition: 0.4s;

  &.active {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.57);
    backdrop-filter: blur(6px);
    transition: 0.3s;
    padding: 1.4rem 5%;
    border-bottom: solid 1px blue;
  }

  .logo {
    background: -webkit-linear-gradient(-70deg, #6d2aff 0%, #ea00ff 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    font-weight: 700;
    font-size: 25px;
    padding: 5px 10px;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;

    &.activeLinks:hover {
      background-color: rgb(54, 54, 54);
      border-radius: 7px;
    }

    &:hover {
      background-color: rgb(236, 236, 236);
      border-radius: 7px;
    }

    span {
      color: blue;
    }
  }

  .header_wrap {
    display: flex;
    .gitlink {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      margin-left: 50px;
      background: -webkit-linear-gradient(-70deg, #6d2aff 0%, #ea00ff 100%);
      color: rgb(255, 255, 255);
      border-radius: 5px;
      padding: 10px 10px;
      transition: 0.5s;
      font-weight: 400;
      font-family: "Rubik", sans-serif;

      &:hover {
        box-shadow: 0 0 10px white;
        transition: 0.2s;

        &:hover.active {
          box-shadow: 0 0 10px rgb(0, 0, 0);
          transition: 0.2s;
        }
      }
    }
    .link {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 5rem;
      padding: 10px 15px;
      margin-left: 10px;
      color: rgb(0, 0, 0);
      border-radius: 3px;
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      transition: 0.3s;

      &.activeLinks {
        color: white;
      }

      &:hover {
        background-color: rgba(209, 209, 209, 0.221);
        color: #4d01ff;
      }
    }
    .resume {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 5rem;
      padding: 10px 15px;
      background: -webkit-linear-gradient(-70deg, #6d2aff 0%, #ea00ff 100%);

      border-radius: 5px;
      font-family: "Rubik", sans-serif;
      font-weight: 300;
      color: white;
      margin-left: 20px;
      transition: 1s;

      &:hover {
        box-shadow: 0 0 10px white;
        transition: 0.2s;

        &:hover.active {
          box-shadow: 0 0 10px rgb(0, 0, 0);
          transition: 0.2s;
        }
      }
    }
    .burger_menu {
      display: none;
    }
  }
}
@media (max-width: 848px) {
  .header {
    padding: 20px 14%;
    &.active {
      padding: 20px 7% 20px 7%;
      li {
        display: none;
      }
    }
    .header_wrap {
      .gitlink {
        display: none;
      }
      .link {
        display: none;
      }
      .resume {
        display: none;
      }
      .burger_menu {
        display: block;
        width: 40px;
        height: 30px;

        &.open {
          span:first-child {
            transform: rotate(45deg) translate(4px, 4px);
            width: 40px;
          }
          span:last-child {
            transform: rotate(-45deg) translate(4px, -6px);
            width: 40px;
          }
        }

        span {
          display: block;
          width: 40px;
          height: 6px;
          margin: 6px auto;
          background: -webkit-linear-gradient(-70deg, #6d2aff 0%, #ea00ff 100%);
          border-radius: 2px;
          transition: 0.2s;

          &:last-child {
            width: 30px;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .header {
    width: 100%;
    padding: 10px 10%;

    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: none;

    .logo {
      color: rgb(0, 0, 0);
      font-weight: 700;
      font-size: 25px;
      padding: 5px 10px;
      font-family: "Rubik", sans-serif;
      text-transform: uppercase;

      &.activeLinks {
        color: rgb(0, 0, 0);
      }
    }

    &.active {
      background-color: rgb(255, 255, 255);
      width: 100%;
      padding: 10px 10%;
      border-bottom: none;
      backdrop-filter: none;
    }
  }
}
