.DropDownMenu {
  position: fixed;
  top: 5rem;
  right: 4rem;
  padding: 10px 0 10px;
  width: 150px;
  background-color: #3a158a;
  border: none;
  border-radius: 14px;
  transition: 0.3s;
  z-index: 110000000000000000000000000;

  &.active {
    position: fixed;
    right: 1rem;
  }

  .gap_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 10px 0;
    flex-direction: column;
    .link {
      margin-bottom: 15px;
      display: flex;
      width: 120px;
      padding: 10px 0;
      justify-content: center;
      align-items: center;
      color: rgb(255, 255, 255);
      border-radius: 8px;

      &:nth-child(3) {
        margin-top: 15px;
        margin-bottom: 15px;
        color: #4d01ff;
        background-color: white;
      }
    }
  }
  .gitlink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px;
    background: #6d2aff;
    color: white;
    border-radius: 8px;
    position: relative;
  }
}
@media (min-width: 848px) {
  .DropDownMenu {
    display: none;
  }
}
@media (max-width: 600px) {
  .DropDownMenu {
    position: fixed;
    top: 4rem;
    right: 1rem;
    padding: 10px 0 10px;
    width: 150px;
  }
}
