.page_wrapper {
  width: 100%;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;

  .container {
    .home_content {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(0, 0, 0);
      min-height: 45vh;
      transition: 1s ease;

      &.active {
        transition: 0.3s;
        background-color: #fff;
      }

      .projects_carus {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .carus_main {
          padding: 40px 15px;
          width: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          &::before,
          &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 10rem;
            height: 100%;
            z-index: 20;
          }

          &::before {
            left: 8rem;
            background: linear-gradient(to right, #ffffff 0%, transparent 100%);
          }

          &::after {
            right: 8rem;
            background: linear-gradient(to left, #ffffff 0%, transparent 100%);
          }

          .Title_Anim {
            padding: 3% 20px;
            color: transparent;
            font-size: 3.4rem;
            font-weight: 900;
            text-transform: uppercase;
            animation: animation2 6s linear infinite;

            @keyframes animation2 {
              from {
                transform: translateX(0%);
                color: transparent;
                -webkit-text-stroke: 2px #4d01ff;
              }
              to {
                color: transparent;
                -webkit-text-stroke: 2px #4d01ff;
                transform: translate3d(-100%, 0, 0);
              }
            }
          }
        }
      }

      .home_title {
        width: 83%;
        padding: 12% 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 1s ease;

        &.active {
          padding: 7% 0;
        }
        .column_text {
          .h3 {
            width: 50rem;
            padding: 10px 0;
            color: rgb(255, 255, 255);
            font-weight: 500;
            font-size: 55px;

            &.active {
              color: black;
            }

            .span2 {
              color: #3f04c8;
              opacity: 6;
            }

            a {
              color: white;
            }

            .fullstack {
              position: absolute;
              font-weight: 500;
              font-size: 20px;
              margin-left: 5px;
              padding: 10px 15px;
              background: -webkit-linear-gradient(
                -70deg,
                #6d2aff 0%,
                #ea00ff 100%
              );
              border-radius: 21px 10px 21px 10px;
              transition: 0.5s;

              &:hover {
                background-color: rgb(3, 6, 192);
              }
            }
          }
          .p {
            width: 36rem;
            padding: 0;
            color: rgb(255, 255, 255);
            font-weight: 500;
            font-size: 20px;

            &.active {
              color: black;
            }
          }
        }
        .text_animation_parag {
        }

        .text_animation {
          background: -webkit-linear-gradient(-70deg, #6d2aff 0%, #ea00ff 100%);
          background-clip: border-box;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: rgba(0, 0, 0, 0);
        }
        .home_img {
          width: 420px;
          padding: 0;
          overflow: hidden;
          animation: animation 8s ease-in-out infinite;
          border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
          border: 3px solid rgb(242, 0, 255);
          box-shadow: 0 0 10px rgba(8, 0, 255, 0.3);
          transition: all 0.1s ease-in-out;

          @keyframes animation {
            0% {
              border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
            }
            50% {
              border-radius: 30% 75% 55% 60%/30% 75% 55% 45%;
            }
            100% {
              border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
            }
          }
        }
      }
      .box_container {
        width: 100vw;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        transition: 1s ease;

        &.active {
          transition: 0.3s ease;
          background-color: #fff;
        }

        .box_title {
          width: 80vw;
          background-color: rgba(0, 0, 0, 0);
          border-radius: 15px;
          border: solid 1px #d4d4d4;
          margin: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.2s;
          overflow: hidden;
          .photo {
            padding: 10px;
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;

            &:last-child {
              justify-content: center;
            }
            img {
              border-radius: 15px;
              width: 100%;
            }
          }
          .title {
            width: 100%;
            margin-left: 50px;
            font-weight: 500;
            color: rgb(255, 255, 255);

            &.active {
              transition: 0.1s;
              color: rgb(0, 0, 0);
            }

            span {
              color: #4d01ff;
            }

            h3 {
              background: -webkit-linear-gradient(
                -70deg,
                #6d2aff 0%,
                #ea00ff 100%
              );
              background-clip: border-box;
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: rgba(0, 0, 0, 0);
              font-size: 3.5rem;
              margin-left: 9px;
              margin-bottom: 15px;
            }
            p {
              font-size: 20px;
              margin: 10px;
            }
          }
        }
      }
      .project_container {
        width: 100vw;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        gap: 7px;

        .box_project {
          padding: 0;
          width: 39.8vw;
          background-color: rgba(0, 0, 0, 0);
          border: solid 2px #d4d4d4;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          &:first-child {
            border-radius: 0 0 0 0.75rem;
          }
          &:last-child {
            border-radius: 0 0 0.75rem 0;
          }

          .project_img {
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;

            .left_photo {
              width: 100%;
              transition: 0.3s;
              transform: scale(1.03);

              &:hover {
                transform: scale(1.1);
              }
            }

            .right_photo {
              width: 98.6%;
              transition: 0.3s;
              transform: scale(1.03);

              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
      .skill_wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
          padding: 3rem 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          background: -webkit-linear-gradient(-70deg, #6d2aff 0%, #ea00ff 100%);
          background-clip: text;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 3.3rem;
        }

        .skill_bd {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2rem 0;
          flex-wrap: wrap;
          width: 90%;

          .skill_box {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 2rem 1rem;
            width: 100%;
            margin: 10px;
            overflow: hidden;

            border: 1px solid black;
            border-radius: 8px;

            &:hover {
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.562);
            }
            h1 {
              background: -webkit-linear-gradient(
                -70deg,
                #6d2aff 0%,
                #ea00ff 100%
              );
              background-clip: text;
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
              font-size: 24px;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1467px) {
  .page_wrapper {
    .container {
      .home_content {
        .home_title {
          flex-direction: column-reverse;
          .column_text {
            .h3 {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1365px) {
  .page_wrapper {
    .container {
      .home_content {
        .home_title {
          padding: 150px 0;
          .h3 {
            font-weight: 500;
            font-size: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .page_wrapper {
    .container {
      .home_content {
        .projects_carus {
          .carus_main {
            &::before {
              left: 6rem;
              background: linear-gradient(
                to right,
                #ffffff 0%,
                transparent 100%
              );
            }
            &::after {
              right: 6rem;
              background: linear-gradient(
                to left,
                #ffffff 0%,
                transparent 100%
              );
            }
            .Title_Anim {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .page_wrapper {
    .container {
      .home_content {
        .home_title {
          .h3 {
            padding: 10px 0;
            font-size: 50px;
          }
        }

        .box_container {
          .box_title {
            flex-wrap: wrap;

            .photo {
              display: flex;
              justify-content: center;
              img {
                width: 100%;
              }
            }
          }
        }
        .box_container {
          .box_title {
            .title {
              width: 100%;
              margin-left: 15px;
            }
          }
        }
        .project_container {
          width: 100vw;
          max-width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transition: 0.3s;

          .box_project {
            width: 80vw;
            flex-direction: column;

            &:first-child {
              border-radius: 0;
            }
            &:last-child {
              border-radius: 0;
            }
            .project_img {
              width: 80vw;
              display: flex;
              justify-content: start;
              align-items: center;
              img {
                width: 100%;
                padding: -14rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .page_wrapper {
    .container {
      .home_content {
        .home_title {
          .column_text {
            .fullstack {
              display: none;
            }
          }
        }
        .projects_carus {
          .carus_main {
            &::before {
              left: 4rem;
              background: linear-gradient(
                to right,
                #ffffff 0%,
                transparent 100%
              );
            }
            &::after {
              right: 4rem;
              background: linear-gradient(
                to left,
                #ffffff 0%,
                transparent 100%
              );
            }
            .Title_Anim {
              font-size: 3rem;
              font-weight: 800;
            }
          }
        }
        .skill_wrapper {
          h3 {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}

@media (max-width: 754px) {
  .page_wrapper {
    .container {
      .home_content {
        .home_title {
          line-height: 5rem;
          .column_text {
            line-height: 3rem;
            .h3 {
              font-size: 38px;
              .fullstack {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .page_wrapper {
    .container {
      .home_content {
        .projects_carus {
          .carus_main {
            &::before {
              background: none;
            }
            &::after {
              background: none;
            }
            .Title_Anim {
              font-size: 2rem;
              font-weight: 800;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 532px) {
  .page_wrapper {
    .container {
      .home_content {
        .home_title {
          width: 100%;
          padding: 23% 0 8%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(0, 0, 0);
          transition: 1s;

          &.active {
            transition: 0.3s;
            padding: 23% 0 8%;
            background-color: #fff;
          }
          .column_text {
            .h3 {
              padding: 1rem;
              color: rgb(255, 255, 255);
              font-size: 39px;

              &.active {
                color: rgb(0, 0, 0);
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .page_wrapper {
    .container {
      .home_content {
        .home_title {
          line-height: 4rem;
          width: 100%;
          padding: 23% 0 8%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(255, 255, 255);

          &.active {
            padding: 23% 0 8%;
            background-color: #fff;
          }
          .column_text {
            line-height: 2rem;
            .h3 {
              padding: 1rem;
              color: rgb(0, 0, 0);
              font-size: 30px;

              &.active {
                color: rgb(0, 0, 0);
              }
            }
          }
          .home_img {
            width: 300px;
          }
        }
        .box_container {
          background-color: rgb(255, 255, 255);

          &.active {
            background-color: #fff;
          }
        }
        .box_container {
          .box_title {
            .title {
              width: 100%;
              margin-left: 15px;
              color: black;

              &.active {
                color: black;
              }
              h3 {
                font-size: 2.3rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .page_wrapper {
    .container {
      .home_content {
        .home_title {
          .column_text {
            .h3 {
              color: rgb(0, 0, 0);
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}
