.page_wrapper {
  width: 100vw;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;

  .container {
    .home_content {
      display: flex;
      align-items: start;
      justify-content: center;
      background-color: rgb(255, 255, 255);

      min-height: 105vh;

      padding: 5rem 7rem;

      .home_title {
        padding: 100px;

        h3 {
          color: rgb(0, 0, 0);
          font-weight: 500;
          font-size: 50px;

          a {
            color: white;
          }

          .fullstack {
            position: absolute;
            font-weight: 500;
            font-size: 20px;
            margin-left: 15px;
            padding: 10px 15px;
            background-color: rgb(57, 77, 230);
            border-radius: 25px;
            transition: .5s;

            &:hover {
              background-color: rgb(3, 6, 192);
            }
          }
        }

        .text_animation {
          color: orange;
        }
      }
    }
    .box_container {
      background-color: rgb(51, 51, 53);
      padding: 200px 0;
      display: flex;
      justify-content: center;
      display: flex;

      .box_title {
        padding: 100px 100px;
        background-color: azure;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
