.wrapper_adpt {
  position: fixed;
  top: 76px;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000000000000000000000000;

  .wrapper_adpt_hlp {
    transition: 0.4s;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 81%;

    &.active {
      width: 79%;
    }

    .wrapper {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 5px;
      border-radius: 5px;
      background: #6d2aff;

      .wrapper_box {
        line-height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        hr {
          margin-bottom: 1px;
          margin-top: 1px;
          width: 100%;
          height: 3px;
          border-radius: 5px;
          border: none;
        }

        .link {
          padding: 5px 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          color: rgb(255, 255, 255);
          text-decoration: none;
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.145);

          &:hover {
            color: black;
            background-color: #fff;
          }
        }
      }
    }
  }
}
@media (max-width: 848px) {
  .wrapper_adpt {
    display: none;
  }
}

@media (max-width: 600px) {
  .wrapper_adpt_hlp {
    justify-content: center;
  }
}
